.banner
  .banner__content
    %h2.banner__content__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__content__text
      今すぐ無料ダウンロード！
    .banner__content__btn
      .applebtn
        = image_tag 'app-store.svg'
      .googlebtn
        = image_tag 'google-play.svg'