// .list__left__category__child, .list__left__category__parent, .list__left__category__grandchild{
//   display: none;
// }

// .list__left__category__icon,.brands__icon{
//   color:skyblue;
// }

// // カテゴリーの大枠の要素の共通項
// .list__left__category{
//   position: relative;
//   border-right: 1px solid whitesmoke;
//   .category_parent{
//     width: 100%;
//     color: black;
//     font-size: 11px;
//     letter-spacing: 2px;
//     position: absolute;
//     z-index: 10000;

//     .category_prepare {
//       display: flex;
//       width: 800px;
//       .category_parent_box {
//         height: 50px;
//         background-color: rgb(255, 255, 255);
//         box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
//         width: 224px;
//         font-size: 14px;
//         line-height: 44px;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         overflow: hidden;
//         padding: 0px 16px;
//       }
//       .category_child_box:hover{
//         background: red;
//       }
        
//       .list__left :hover{
//         .category_parent{
//           display: block;
//         }
//       }
      
//         .category_child_box {
//           font-size: 14px;
//           height: 50px;
//           line-height: 30px;
//           background-color: rgb(255, 255, 255);
//           box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
//           width: 224px;
//           line-height: 44px;
//           text-overflow: ellipsis;
//           white-space: nowrap;
//           overflow: hidden;
//           padding: 8px 16px;
//         }
        

//         .category_child{
//           display: none;
//           width: 100%;
//           color: black;
//           font-size: 11px;
//           letter-spacing: 2px;
//           position: absolute;
//           z-index: 10000;
//             &:hover__color{
//               color: (black, lightgray, 1);
//             }         
//         }    
//       &:hover__color{
//         color: (black, lightgray, 1);
//       }
      
//       }
//       .category_parent_box:hover{
//         background: red;
//       }
//   }
// }

// .list__left :hover{
//   .category_child{
//     display: block;
//     text-decoration: none;
//   }
// }

// 子要素はカテゴリー名の共通項
// .list__left__category_child{
//   display: none;
//   width: 100%;
//   color: black;
//   display: inline-block;
//   font-size: 11px;
//   letter-spacing: 2px;
//   position: absolute;
//   z-index: 10000;
//     &:hover__color{
//       color: (black, lightgray, 1);  
//     }
//     .category_child_box {
//       font-size: 14px;
//       height: 50px;
//       line-height: 30px;
//       background-color: rgb(255, 255, 255);
//       box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
//       width: 224px;
//       display: block;
//       line-height: 44px;
//       text-overflow: ellipsis;
//       white-space: nowrap;
//       overflow: hidden;
//       padding: 0px 16px;
//     }
//     .category_child_box:hover{
//       background: red;
//     }
// }
// .list__left :hover{
//   .category_parent{
//     display: block;
//   }
// }

// .list__left__category{
//   position: relative;
//   border-right: 1px solid whitesmoke;
  

// .list__left :hover{
//   .category_child{
//     display: block;
//     text-decoration: none;
//   }
// }



// .categories{
//   padding-bottom: 10px;
//   &:hover{
//     .list__left__category__parent{
      // top: 122px;
//       display: block;
//       &--name{
//         width: 100%;
//         color: black;
//         display: inline-block;
//         padding: 10px 20px;
//         font-size: 13px;
//         letter-spacing: 2px;
//       }
//       li {
//         &:hover{
//           .list__left__category__child{
//             width: 100%;
//             display: block;
//             top: 0;
//             left: 221px;
//             li {
//               &:hover{
//                 .list__left__category__grandchild{
//                   width: 300px;
//                   display: block;
//                   top: 0;
//                   left: 220px;
//                 }
//               }
//             }
//           }
    //     }
    //   }
    // }
  // }
// }


.category__child, .category__parent, .category__grandchild{
  display: none;
}

// カテゴリーの大枠の要素の共通項
.category__list{
  position: absolute;
  height: 560px;
  background-color: white;
}

// 子要素はカテゴリー名の共通項
.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 13px;
  letter-spacing: 2px;
}

.categories{
  padding-bottom: 10px;
  &:hover{
    .category__parent{
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
      }
      li {
        &:hover{
          background-color: red;
          .category__child{
            width: 100%;
            display: block;
            top: 0;
            left: 220px;
            li {
              &:hover{
                background-color: lightgray;
                .category__grandchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}