* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

@mixin back_color_gry{
  background-color: #f8f8f8;
}
@mixin main_width{
  margin: 0 auto;
  width: 700px;
  background-color: white;
}

@mixin border{
  content: '';
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 80%;
  height: 2px;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  @include back_color_gry;
  border-radius: 2px;
}
@mixin btn{
  height: 40px;
  line-height: 40px;
  width: 200px;
  color: white;
  border-radius: 100px;
  text-align: center;
}
.comfirm_wrapper{
  img{
    object-fit: cover;
  }
  a{
    text-decoration: none;
    color:#3CCACE;
  }
  h3{
    font-weight: bold;
    font-size: 18px;
  }
  padding:100px 0;
  width: 100vw;
  height: 100%;
  @include back_color_gry;
  .comfirm_main {
    @include main_width;
    &--head{
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;;
      position: relative;
    }
    &--head::after{
      @include border;
    }
    &__item{
      height: 160px;
      padding: 30px 120px;
      display: flex;
      position: relative;
      &__left{
        height: 100px;
        width: 100px;
      }
      &__right{
          padding-left: 30px;
        &__title{
          font-size: 16px;
          height: 80px;
        }
        &__lower{
          display: flex;
          &--detail{
            font-size: 14px;
          }
          &--price{
            margin-left: 10px;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
    &__item::after{
      @include border;
      bottom: 0px
    }
    &__price{
      height: 160px;
      padding: 30px 120px;
      display: flex;
      line-height: 100px;
      font-weight: bold;
      font-size: 20px;
      position: relative;
      &__left{
      }
      &__right{
        padding-left: 100px;
        font-size: 22px;
      }
    }
    &__price::after{
      @include border;
      bottom: 0px;
    }
    &__payment{
      height: 220px;
      padding: 30px 120px;
      position: relative;
      &__head{
        display: flex;
        justify-content: space-between;
        &--left{
        }
        &--right{
        }
      }
      &--card_info{
        padding-top: 30px;
        p{
          padding: 5px 0 ;
        }
        &__type{

        }
        &__num{

        }
        &__date{
        }
      }
    }
    &__payment::after{
      @include border;
      bottom: 0px;
    }
    &__address{
      height: 200px;
      padding: 30px 120px;
      position: relative;
      &__hedder{
        display: flex;
        justify-content: space-between;
        &__left{
        }
        &__right{
        }
      }
      ul{
        padding-top: 30px;
        li{
          padding: 2px 0 ;
        }
      }
    }
    &__address::after{
      @include border;
      bottom: 0px;
    }
    &__buy{
      display: flex;
      height: 120px;
      padding: 30px 120px;
      a{
        color: white;
      }
      &--btn{
        @include btn;
        margin-left: 10px;
        background:  red;
        letter-spacing: 5px; 
      }
      &--back_btn{
        @include btn;
        margin-left: 50px;
        background-color:  #3CCACE;
        letter-spacing: 10px;
      }
    }
  }
}