@mixin creditCard-wrapper {
  height: 100vh;
  padding-top: 50px;
  background-color: #f5f5f5;
  &__inner {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;

    &__title {
      height: 50px;
      border-bottom: ridge 1px;
      h1 {
      font-size: 28px;
      line-height: 50px;
      text-align: center;
      }
    }
  }
}

// 必須
@mixin essential-redBox {
  background-color: red;
  color: #fff;
  padding: 3px;
  font-size: 14px;
}
// カード番号・セキュリティコードのテキストフィールド
@mixin cardNumber-input {
  width: 300px;
  height: 50px;
  margin-top: 10px;
}
// 月・年選択ボックス
.dateSelect {
  width: 140px;
  height: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
// クレジットカード登録画面
.creditCard-wrapper {
  height: 100vh;
  padding-top: 50px;
  background-color: #f5f5f5;
  &__inner {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;

    &__title {
      height: 50px;
      border-bottom: ridge 1px;
      h1 {
      font-size: 28px;
      line-height: 50px;
      text-align: center;
      }
    }

    &__form {
      padding-left: 250px;
      padding-bottom: 50px;
      // カード番号
      &__card-number {
        padding: 30px 0px 30px 0px;
        label {
          padding-right: 10px;
        }
        span {
          @include essential-redBox;
        }
        input {
          @include cardNumber-input;
          padding-left: 10px;
        }
      }
      // 有効期限
      &__dayLimit {
        padding: 30px 0px 30px 0px;
        label {
          padding-right: 10px;
        }
        span {
          @include essential-redBox;
        }
      }
      // セキュリティーコード
      &__security-code {
        padding: 30px 0px 30px 0px;
        label {
          padding-right: 10px;
        }
        span {
          @include essential-redBox;
        }
        input {
          @include cardNumber-input;
          padding-left: 10px;
        }
      }
      // クレジット追加ボタン
      &__addBtn {
        width: 300px;
        height: 50px;
        background-color: red;
        border-radius: 10px;
        a {
          color: #fff;
          line-height: 50px;
          padding-left: 50px;
        }
      }
    }
  }
}

// クレジットカード一覧確認・削除ボタンありページ
.creditCard-wrapper {
  &__inner {
    &__contents {
      display: flex;
      padding: 50px 50px 50px 250px;
      &__creditCard-information {
        &__number {
          margin-bottom: 10px;
        }
        &__date {
          margin-bottom: 20px;
        }
      }
      &__deleteBtn {
        padding-top: 10px;
        padding-left: 150px;
      }
    }
  }
}