* {
  box-sizing: border-box;
}
.header {
  padding: 0 60px;
  width: 100%;
  background-color: #fff;
  
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    a {
      text-decoration: none;
      color: #333;
    }

    &__top {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  }

  // .header__inner__top
  .logo {
    padding-bottom: 10px;
    margin-right: 30px;
    
    img {
      height: 40.55px;
      width: 140px;
      vertical-align: bottom;
    }
  }
  
  .searchbox {
    width: 100%;
    margin-left: auto;

    &__icon {
      width: 20px;
      height: 20px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
  

  form {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
  }
        
  input {
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  
  button {
    background-color: #3CCACE;
  }

  // .header__inner__bottom
  .list__left {
    display: flex;

    &__category {
      padding-right: 40px;
    }
  }
  
  .list__right {
    display: flex;
    
    &__login {
      padding-right: 40px;
    }
  }
}