= render partial: "template/header"
= render partial: "template/sellbtn"

-# まだuserコントローラーに変数を記述していないためエラーが出てしまうのでコメントアウト
-# 今後、マイページをさらに実装するにあたり、本人確認情報が必要と判断し、参考コードを記述
-# .mypage
-#   .mypage__side_bar
-#     = render "side_bar"
-#   .mypage__personal-info
-#     %h1.title
-#       本人情報の入力
-#     %p.suggestion
-#       お客さまの本人情報をご登録ください。
-#     .name
-#       %span
-#         お名前
-#       %p.first_name
-#         = @user.first_name
-#       %p.last_name
-#         = @user.last_name
-#     .name__kana
-#       %span
-#         お名前カナ
-#       %p.first_name__kana
-#         = @user.first_name_kana
-#       %p.last_name__kana
-#         = @user.last_name_kana
-#     .birthday
-#       %span
-#         生年月日
-#       %p.birthday
-#         = @user.birthday
-#     .postal_code
-#       %span
-#         郵便番号
-#       .postal_code__form
-#         = form_with model: @address do |form|
-#           = form.text_field :postal_code
-#     .prefecture
-#       %span
-#         都道府県
-#       .prefecture__form
-#         = f.select
-#     .city 
-#       %span
-#         市区町村
-#       .city__form
-#         = form_with model: @address do |form|
-#           = form.text_field :city
-#     .block
-#       %span
-#         番地
-#       .block__form
-#         = form_with model: @address do |form|
-#           = form.text_field :block
-#     .building
-#       %span
-#         建物名
-#       .building__form
-#         = form_with model: @address do |form|
-#           = form.text_field :building

-#     %button{type: "submit", class:'btn'} 
-#       .submitbtn
-#         登録する

= render partial: "template/banner"
= render partial: "template/footer"