.footer
  %ul.lists
    %li.list
      %a{ href: "#" } プライバシーポリシー
    %li.list
      %a{ href: "#" } メルカリ利用規約
    %li.list
      %a{ href: "#" } 特定商取引に関する表記
  .footer__icon
    = link_to '#' do
      = image_tag "logo-white.png",{class:"box-icon", width: "80px",height: "65x"}
      %p fleamaketSample74a
    